@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-para p{
margin-bottom: 30px;
font-size: 21px;
text-align: justify;
line-height: 40px;
}
.blog-para h1{
    font-size: 30px;
    margin-bottom: 20px;
}

